<span type="button" class="bi bi bi-info-circle text-primary" data-bs-toggle="modal" (click)="open(typeOfMessage)">
</span>

<ng-template #content let-modal>
  <div class="modal-body">
    <div *ngIf="typeOfMessage === 'pagesModal'; else languagesModal">
      Select the number of pages you want. You must choose at least one.
    </div>
    <ng-template #languagesModal>
      <div>Select the number of languages you need for your website. You must choose at least one.</div>
    </ng-template>
  </div>
</ng-template>
