<div class="row p-3 mb-2">
  <div class="col">
      <button class="btn btn-primary ms-2 float-end" routerLink="/main">
        <i class="bi bi-plus-circle-fill"></i> New budget
      </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1 class="text-center">Budget list</h1>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th header="col">#</th>
          <th header="col">Client</th>
          <th header="col">Budget</th>
          <th header="col">Date</th>
          <th header="col">Total</th>
          <th header="col"></th>
          <th header="col"></th>
        </tr>
      </thead>
    <!--   <tbody>
        <tr *ngFor="let list of budgetList; let i = index">
          <th header="row">{{ list.id }}</th>
          <td>{{ list.clientName }}</td>
          <td>{{ list.budgetName }}</td>
          <td>{{ list.date | date }}</td>
          <td>{{ list.total | number }} €</td>

          <td><span type="button" class="text-primary bi bi-pencil-fill" (click)="deleteBudget(i)"></span></td>
          <td><span type="button" class="text-danger bi bi-trash-fill"></span></td>

        </tr>
      </tbody> -->
    </table>
  </div>
</div>
