#budgetList
  background-color: white
  width: 450px
  max-height: 647px

#budgetListBody
  max-height: 647px
  overflow-y: scroll

.cardHeader
  height: 71.84px!important
  
.card-body
  padding: 0!important
  margin: 0px 15px
  
