<div class="row p-5" id="welcome">
  <div class="col-12">
      <h1 class="d-flex display-4 align-items-center justify-content-center animate__animated animate__headShake">Create your&nbsp;
        <span class="text-primary">Budget</span>
      </h1>

      <hr>
      <p class="txt">
        Lorem fistrum fistro pecadoor de la pradera jaaarl. Benemeritaar! Diodenoo diodeno ahorarr ahorarr ahorarr fistro me cago en tus muelas sexuarl. Por la gloria de mi madre la caidita papaar papaar se calle ustée. Quietooor está la cosa muy malar papaar papaar la caidita te voy a borrar el cerito jarl. Pupita no te digo trigo por no llamarte Rodrigor caballo blanco caballo negroorl va usté muy cargadoo tiene musho peligro jarl va usté muy cargadoo de la pradera a gramenawer no te digo trigo por no llamarte Rodrigor. Ese que llega pupita tiene musho peligro va usté muy cargadoo ese que llega amatomaa te va a hasé pupitaa está la cosa muy malar sexuarl ese pedazo de sexuarl.
      </p>

    <div class="d-flex align-items-center justify-content-center animate__animated animate__bounceIn">
      <button id="start" class="btn btn-primary btn-lg "
                routerLink="/main"
                routerLinkActive="router-link-active">
          Start
      </button>
    </div>

    </div>
  </div>
