
<div [formGroup]="budgetForm" id="panel" class="row p-3 m-2 border rounded animate__animated animate__flipInX">

  <div class="col-6 p-2">
    <label for="">Quantity of pages
      <app-modal [typeOfMessage]="'pagesModal'"></app-modal>
    </label>
  </div>

  <div class="d-flex col-sm-6 mb-1">

    <div (click)="calculateAddAndSubtract('pages')" class="btn btn-primary me-1"><i class="bi bi-dash-lg"></i></div>

    <input formControlName="pages" class="form-control" type="number"/>
    <!-- (change)="pagesEntered($event)" -->

    <div (click)="calculateAddAndSubtract('pages', true)" class="btn btn-primary ms-1"><i class="bi bi-plus-lg"></i></div>

  </div>

  <!--   <span class="form-text text-danger">
    It must contain at least 1 page.
  </span> -->

  <div class="col-6 p-2">
    <label for="">How many languages
      <app-modal [typeOfMessage]="'languagesModal'"></app-modal>
    </label>
  </div>

  <div class="d-flex col-sm-6">
    <div (click)="calculateAddAndSubtract('languages')" class="btn btn-primary me-1"><i class="bi bi-dash-lg"></i></div>

    <!-- (change)="requestedLanguages($event)" -->
    <input formControlName="languages"  class="form-control"  type="number"/>

    <div (click)="calculateAddAndSubtract('languages', true)" class="btn btn-primary ms-1"><i class="bi bi-plus-lg"></i></div>
  </div>

</div>

<!-- <hr>
<small class="text-warning">{{budgetForm.value | json}}</small>
<hr> -->
