@import "../node_modules/bootstrap/scss/bootstrap"
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css"


body, html
  height: 100%
  width: 100%


#panel
  min-width: 280px
  max-width: 450px

  input
    width: 75px
    text-align: center

  input::-webkit-outer-spin-button
  input::-webkit-inner-spin-button
    appearance: none
    -webkit-appearance: none
    margin: 0
  input[type=number]
    appearance: textfield
    -moz-appearance: textfield

.ng-invalid
  border-color: #dc3545

  &:focus
    color: #495057
    border-color: #dc3545
    outline: 0
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25)

